.home{
    h1{
        font-size:42px;
        text-align:center;
        margin-top:25px;
        margin-bottom:50px;
    }
    .pallet{
        max-width:1000px;
        margin:auto;
        display:flex;
        a{
            flex:1;
            transition:2s;
            font-size:0px;
            text-decoration:none;
        }
        .active{
            flex:5;
            transition:2s;
            font-size:16px;
        }
        p{
            color:white;
            padding:15px;
        }
    }
    .pallet-color{
        min-height:250px;
    }
    .pallet-color-active{
        flex:5;
    }
    .first{
        border-bottom-left-radius:30px;
        border-top-left-radius:30px;
    }
    .last{
        border-top-right-radius:30px;
        border-bottom-right-radius:30px;
    }
}